.settings {
   padding: 20px 0;   
   background-color: rgba(214, 240, 248, 0.76);
}

.typeChoose {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.settings h2 {
   font-weight: bold;
   font-size: 28px;
   margin-bottom: 20px;   
}

.choosedCountry {
   font-weight: 600;
   font-size: 22px;
   font-style: italic;   
}

.choosedCountry > span {
   font-weight: bold;   
   color: crimson;
   text-transform: uppercase;
}

.countryList, .publishersList {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   width: 85%;
}

.itemCountry, .itemPublisher {
   list-style: none;
   display: block;
   width: 45px;
   margin: 5px;
}

.itemPublisher {   
   width: auto;   
}

.btnCountry, .btnPublisher {
   width: 100%;   
   border: 0;
   border-radius: 8px;
   background-color: rgb(247, 232, 214);
   cursor: pointer;
   font-size: 20px;
   font-weight: 600;
   padding: 5px 2px;
  
}

.btnPublisher {
   background-color: #fff;
   padding: 5px 7px;
}

.note {
   font-style: italic;
   font-size: 24px;
   font-weight: 600;
   color: rgb(24, 22, 153);
   text-align: center;
   width: 80%;
}
.warning {
   text-align: center;
   font-weight: bold;
   font-size: 24px;
   margin: 30px 0;
   color: crimson;
}

.choosedPublishers {
   font-weight: 600;
   font-size: 22px;
   font-style: italic;
   margin-top: 20px;
}

.choosedPublishers > span {
   font-weight: bold;   
   color: crimson;
}

.saveAndDefault {
   width: 50%;
   margin: 20px auto;
   display: flex;
   justify-content: space-around;
}

.saveAndDefault button {
   border: 0;
   border-radius: 8px;
   padding: 5px 15px;   
   font-weight: 600;
   font-size: 22px;
   cursor: pointer;
}

.save {
   background-color: rgb(109, 236, 168);
}

.chooseDefault {
   background-color: rgb(227, 241, 147);
}
