.search {
   padding: 20px 0;   
   background-color: rgba(189, 147, 33, 0.3);
}

.wrapper {
   display: flex;
   flex-direction: row;
}

.sliderButtons {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   padding: 0 20px;
}

.buttonSliderNext,
.buttonSliderPrev {
    width: 60px;
    height: 40px;
    background-color: rgba(245, 41, 14, 0.5);    
    border-radius: 20px;     
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
}

.buttonSliderNext {
   border: 1px solid rgba(226, 222, 222, 0.5);
   background-image: url("../../Images/arrow-left.png");
   transform: rotate(180deg);   
}

.buttonSliderPrev {
   border: 1px solid rgba(226, 222, 222, 0.5);
   background-image: url("../../Images/arrow-left.png");
}

.searchArticle {
   width: 60%;
   height: 100%;
}

.searchArticle input {
   padding: 0 20px;
    width: calc(100% - 42px);
    height: 50px;
    border: 1px solid rgba(226, 222, 222, 0.5);
    border-radius: 30px;    
    font-weight: 500;
    font-size: 24px;    
    color: #473889;
    background-image: url("../../Images/search.png");
    background-repeat: no-repeat;
    background-position: 97% 50%;
}

.searchArticle input::placeholder {
   font-weight: 400;
   font-size: 22px;    
   color: #9687dd;
}

.searchLinks {
   display: none;
}
