.popUp {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(82, 110, 59, 0.4);
}

.popUpContent {    
    width: auto;
    height: auto;
    border-radius: 15px;
    position: relative;   
}

.popUpContent img {
    max-height: 90vh;
}

.btnPopUp {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 5px;
    border: 0;
    color: crimson;
    padding: 2px 5px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.5px;
    cursor: pointer;
}